{% extends 'base.html.twig' %}

{% block title %}County{% endblock %}

{% block body %}
    <h1>VILLES</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Departement</th>
                <td>{{ county.label }}</td>
            </tr>
            <tr>
                <th>Code Postale</th>
                <td>{{ county.zipcode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('homepage') }}">retour à l'acceuil</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('county_edit', {'id': county.id}) }}">Modifier</a>
    {{ include('county/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
