{% extends 'base.html.twig' %}

{% block title %}Traobject index{% endblock %}

{% block body %}
    <h1>Objets</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Objet</th>
            <th>Image</th>
            <th>Ajouté le</th>
            <th>Ville</th>
            <th>Modifié le</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>
        {% for traobject in traobjects %}
            <tr>
                <td>{{ traobject.title }}</td>
                <td><img src="{{ asset('uploads/' ~ traobject.picture) }}" width="80px" alt=""></td>
                <td>{{ traobject.eventAt ? traobject.eventAt|date('Y-m-d') : '' }}</td>
                <td>{{ traobject.city }}</td>
                <td>{{ traobject.updatedAt ? traobject.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('traobject_show', {'id': traobject.id}) }}">Afficher</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('traobject_edit', {'id': traobject.id}) }}">modifer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas d'objets enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('traobject_new') }}">Ajouter</a>
{% endblock %}
